header {
    width: 1440px;
    height: 72px;
    background-color: #E7E9FC;
    line-height: 1;
    border-bottom: 1px solid black;
    padding-top: 1px;
    height: 200%;
}
 .logo {
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

#headline {
    color: #4D5AE5;
}

.main-title {
    width: 1440px;
    height: 600px;
}

.main-title .ahmet {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 56px;
    padding-top: 200px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-title .fatma {
    width: 169px;
    height: 56px;
    gap: 10px;
    border-radius: 4px;
    top: 428px;
    left: 636px;
    background-color: #4D5AE5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.main-title .fatma:hover {
    background-color: #404BBF;
}
.main-title .fatma:focus {
    background-color: #404BBF;
}

.main-title {
    text-align: center;
    background-color: #2E2F42;
}

#our-people {
    background-color: #F4F4FD;
}

footer {
    background-color: #2E2F42;
    color: white;
}

#general-info h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
}

#general-info ul li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}

#general-info ul li p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.portfolio {
    background-color: #E7E9FC;
    top: 1868px;
    left: 156px;
    border: 1px;
}

.our-team .faruk {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.portfolio .headhead {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}


.portfolio ul li img {
    width: 360px;
    height: 260px;
}

.portfolio ul li h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.portfolio .zehra .party-three {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team .omer-oz {
    background-color: white;
}
.our-team .omer-oz .party-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.our-team .omer-oz .party-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
header nav ul section .taha{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: "Raleway", serif;
}
header span  {
    color: #2E2F42;
}
.nav-container-left .nav-conta {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.araba {
    font-style: normal;
}
.last-three .last {
    color: #2E2F42;
}
.last-three .logo {
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.general-info .last-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.general-info .last-five {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
